{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}
