:root {
  --font-primary: "Roboto", Helvetica, sans-serif;
  --font-size-xlg: x-large;

  --page-width: 1080px;

  --padding-sm: 8px;
  --padding-med: 16px;
  --padding-lg: 32px;
  --padding-xlg: 64px;

  --margin-sm: 8px;
  --margin-med: 16px;
  --margin-lg: 32px;
  --margin-xlg: 64px;

  --border-radius-med: 16px;

  --background-color-primary: #222222;
  --background-color-secondary: #262633;

  --foreground-color-primary: #eeeeee;
  --foreground-color-secondary: #eeeeff;

  --button-color-primary: #add8e6;
  --button-color-primary-hover: #a5cbd8;

  --link-color-unvisited: #ccccff;
  --link-color-visited: #ddccff;
  --link-color-hover: #eeeeff;

  --nav-background-color: #333333;
  --footer-background-color: #333333;
}

html {
  font-family: var(--font-primary);
  font-size: var(--font-size-xlg);

  background-color: var(--background-color-primary);
  color: var(--foreground-color-primary);
}

body {
  padding-left: var(--padding-med);
  padding-right: var(--padding-med);
}

body > main {
  margin: auto;
  max-width: var(--page-width);
}

nav,
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
}

nav {
  margin-bottom: var(--margin-lg);
  background-color: var(--nav-background-color);
}

footer {
  margin-top: var(--margin-lg);
  background-color: var(--footer-background-color);
}

nav li {
  display: inline;
  padding-right: var(--padding-med);
}

section,
article {
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-lg);

  padding: var(--padding-med);

  border: 2px solid grey;
  border-radius: var(--border-radius-med);
}

section > *,
article > * {
  margin: var(--margin-sm);
}

section {
  max-width: var(--page-width);
  overflow-x: auto;
  background-color: var(--background-color-secondary);
}

fieldset {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  padding-bottom: var(--padding-med);
}

p {
  padding-bottom: var(--padding-sm);
}

img {
  width: 100%;
}

table,
table th,
table td {
  margin: var(--margin-sm);
  border: 2px solid #eeeeee;
  border-radius: var(--border-radius-med);
}

table th,
table td {
  margin: 0;
  padding: var(--padding-sm);
}

code,
kbd,
samp {
  background-color: black;
  color: darkorange;
}

pre {
  color: darkgray;
}

mark {
  background-color: var(--link-color-unvisited);
}

table td {
  border-color: grey;
}

input,
textarea,
button {
  font-size: var(--font-size-xlg);
  padding: var(--padding-med);
  border-radius: var(--border-radius-med);
  max-width: 100%;
}

textarea {
  width: 80%;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  background-color: var(--button-color-primary);
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover {
  scale: 102%;
  background-color: var(--button-color-primary-hover);
}

input[type="file"] {
  background-color: var(--foreground-color-primary);
  color: var(--background-color-primary);
  width: 80%;
}

input[type="checkbox"],
input[type="radio"] {
  width: 24px;
  height: 24px;
}

input[type="range"] {
  accent-color: red;
}

select {
  padding: var(--padding-med);
  font-size: var(--font-size-xlg);
}

optgroup option {
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

a {
  color: var(--link-color-unvisited);
  text-decoration: none;
}

a:visited {
  color: var(--link-color-visited);
}

a:hover {
  color: var(--link-color-hover);
}
