:root {
  --font-primary: "Roboto", Helvetica, sans-serif;
  --font-size-xlg: x-large;

  --padding-sm: 8px;
  --padding-med: 16px;
  --padding-lg: 32px;
  --padding-xlg: 64px;

  --margin-sm: 8px;
  --margin-med: 16px;
  --margin-lg: 32px;
  --margin-xlg: 64px;

  --border-radius-med: 16px;

  --background-color-primary: #222222;
  --foreground-color-primary: #eeeeee;

  --button-color-primary: #add8e6;
  --button-color-primary-hover: #a5cbd8;

  --link-color-unvisited: #eeee88;
  --link-color-visited: #eeeecc;
}

html {
  font-family: var(--font-primary);
  font-size: var(--font-size-xlg);

  background-color: var(--background-color-primary);
  color: var(--foreground-color-primary);

  padding-left: var(--padding-med);
  padding-right: var(--padding-med);
}

section,
article {
  margin-top: var(--margin-med);
  margin-bottom: var(--margin-med);

  padding-top: var(--padding-med);
  padding-bottom: var(--padding-med);

  border: 2px solid grey;
  border-radius: var(--border-radius-med);
}

section > *,
article > * {
  margin: var(--margin-sm);
}

h1,
h2,
h3,
h4,
h5 {
  padding-bottom: var(--padding-med);
}

p {
  padding-bottom: var(--padding-sm);
}

table,
table th,
table td {
  margin: var(--margin-sm);
  border: 2px solid #eeeeee;
  border-radius: var(--border-radius-med);
}

table th,
table td {
  margin: 0;
  padding: var(--padding-sm);
}

code,
kbd,
samp {
  background-color: black;
  color: darkorange;
}

pre {
  color: darkgray;
}

mark {
  background-color: var(--link-color-unvisited);
}

table td {
  border-color: grey;
}

input,
textarea,
button {
  font-size: var(--font-size-xlg);
  padding: var(--padding-med);
  border-radius: var(--border-radius-med);
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  background-color: var(--button-color-primary);
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover {
  scale: 102%;
  background-color: var(--button-color-primary-hover);
}

input[type="file"] {
  background-color: var(--foreground-color-primary);
  color: var(--background-color-primary);
}

input[type="checkbox"],
input[type="radio"] {
  width: 24px;
  height: 24px;
}

input[type="range"] {
  accent-color: red;
}

select {
  padding: var(--padding-med);
  font-size: var(--font-size-xlg);
}

optgroup option {
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

a {
  color: var(--link-color-unvisited);
}

a:visited {
  color: var(--link-color-visited);
}
